<p>{% extends "layout.html" %}
  
  {% load static %}
  {% csrf_token %}
  
  {% block title %}
  Hankwebsite
  {% endblock %}
  
  {% block body %}
 </p>
<div>
<p>&nbsp; </p>
<table width="1066" border="0" align="left">
  <tbody>
    <tr>
      <th width="901" align="left" scope="col"><h1>Frontend Technologies-HTML</h1></th>
      <th width="155" scope="col" align="right"><a href="https://www.w3schools.com/html/html_intro.asp" target="_blank">Learn more</a></th>
    </tr>
    <tr>
      <th scope="row">&nbsp;</th>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
</div>
<p>&nbsp; </p>
<p>&nbsp; </p>

<div>
  <div>
    <div data-message-author-role="assistant" data-message-id="d00b4a70-09b6-4cb0-b207-7213b893aa48">
      <div>
        <div>
          <div data-message-author-role="assistant" data-message-id="bbd8ff7d-6f44-4b11-aed4-7a0d19ca3f87">
            <div>
              <div>
                <div data-message-author-role="assistant" data-message-id="c143609a-cbb7-4973-816b-d9560da571a8">
                  <div>
                    <div>
                      <div data-message-author-role="assistant" data-message-id="360ee67f-9ed7-4c78-bb4d-bd1c9a46c937">
                        <div>
                          <div>
                            <div data-message-author-role="assistant" data-message-id="4c11b6e3-36be-4ffd-b555-06b4064267e6">
                              <div>
                                <div>
                                  <div data-message-author-role="assistant" data-message-id="c7b02dc3-403e-49a2-8872-da8655cca0b6">
                                    <div>
                                      <div>
                                        <div data-message-author-role="assistant" data-message-id="cea19348-1c96-49ee-8361-53233727fb9b">
                                          <div>
                                            <p>HTML, or Hypertext Markup Language, is the standard language used to create and structure content on the World Wide Web. It forms the foundation of web pages and is used to describe the structure and content of a webpage. Here are some key aspects of HTML:</p>
                                            <ol>
                                              <li>
                                                <p><strong>Markup Language</strong>: HTML is a markup language, which means it consists of a set of elements or tags that you use to structure and format the content of a web page. These elements are enclosed in angle brackets (&lt; &gt;) and are used to define the various parts of a webpage.</p>
                                              </li>
                                              <li>
                                                <p><strong>Structure and Semantics</strong>: HTML is primarily concerned with defining the structure and semantics of a webpage. It describes the hierarchy of elements, such as headings, paragraphs, lists, links, images, and more, and their relationships to each other.</p>
                                              </li>
                                              <li>
                                                <p><strong>Elements and Tags</strong>: HTML consists of a wide range of elements, each serving a specific purpose. For example, the &lt;p&gt; tag is used to define paragraphs, &lt;h1&gt; to &lt;h6&gt; tags for headings, and &lt;a&gt; tags for creating hyperlinks. Elements can have attributes to provide additional information or modify their behavior.</p>
                                              </li>
                                              <li>
                                                <p><strong>Nesting</strong>: HTML elements can be nested within each other to create a hierarchy of content. This nesting determines the structure of the page and how elements are displayed.</p>
                                              </li>
                                              <li>
                                                <p><strong>Attributes</strong>: HTML elements can have attributes that provide additional information or settings. For example, the &lt;a&gt; tag can have an "href" attribute to define the destination URL of a hyperlink.</p>
                                              </li>
                                              <li>
                                                <p><strong>Web Page Content</strong>: HTML is used to define the core content of a web page, including text, images, videos, links, forms, and more.</p>
                                              </li>
                                              <li>
                                                <p><strong>Hyperlinks</strong>: HTML allows you to create hyperlinks using the &lt;a&gt; (anchor) tag, enabling users to navigate between web pages.</p>
                                              </li>
                                              <li>
                                                <p><strong>Lists</strong>: You can create ordered lists (with numbers) and unordered lists (with bullet points) using HTML.</p>
                                              </li>
                                              <li>
                                                <p><strong>Forms</strong>: HTML provides form elements like text fields, radio buttons, checkboxes, and buttons to collect user input on web pages. This is the foundation for user interactions like search boxes, login forms, and more.</p>
                                              </li>
                                              <li>
                                                <p><strong>Tables</strong>: HTML can be used to create tables to display structured data. However, for layout purposes, it's recommended to use CSS for grid-based designs instead.</p>
                                              </li>
                                              <li>
                                                <p><strong>Media</strong>: HTML supports embedding images, audio, and video using elements like &lt;img&gt;, &lt;audio&gt;, and &lt;video&gt;. Modern HTML5 also provides rich support for multimedia content.</p>
                                              </li>
                                              <li>
                                                <p><strong>Metadata</strong>: HTML allows you to include metadata about the web page, such as the title, character encoding, and meta tags that describe the page's content for search engines and social sharing.</p>
                                              </li>
                                              <li>
                                                <p><strong>Cross-Browser Compatibility</strong>: HTML is designed to work across various web browsers, making it a versatile and widely supported standard.</p>
                                              </li>
                                            </ol>
                                            <p>HTML is the backbone of web development and is used in conjunction with other technologies like CSS (Cascading Style Sheets) for styling and JavaScript for interactivity to create rich and dynamic web applications. It provides the structure and content of a webpage, which is then styled and enhanced using CSS and JavaScript to create the final user experience.</p>
                                          </div>
                                        </div>
                                      </div>
                                      <p>&nbsp;</p>
                                    </div>
                                  </div>
                                </div>
                                <p>&nbsp;</p>
                              </div>
                            </div>
                          </div>
                          <p>&nbsp;</p>
                        </div>
                      </div>
                    </div>
                    <p>&nbsp;</p>
                  </div>
                </div>
              </div>
              <p>&nbsp;</p>
            </div>
          </div>
        </div>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
  <p>&nbsp;</p>
</div>

<p>&nbsp;</p>
<p>{% endblock %}</p>
