{% extends "layout.html" %}

{% load static %}
{% csrf_token %}

{% block title %}
Hankwebsite
{% endblock %}

{% block body %}

<div class="bubble-bg-animation">
    <div class="bubble-item">
        <img src="{% static 'assets/images/bubble-bg/bubble-1.png' %}" alt"bubble">
    </div>
    <div class="bubble-item">
        <img src="{% static 'assets/images/bubble-bg/bubble-1.png' %}" alt"bubble">
    </div>
    <div class="bubble-item">
        <img src="{% static 'assets/images/bubble-bg/bubble-1.png' %}" alt"bubble">
    </div>
    <div class="bubble-item">
        <img src="{% static 'assets/images/bubble-bg/bubble-1.png' %}" alt"bubble">
    </div>
    <div class="bubble-item">
        <img src="{% static 'assets/images/bubble-bg/bubble-2.png' %}" alt"bubble">
    </div>
</div>

<div class="header-bg-inner">
    <div class="header-carousel owl-carousel owl-theme default-carousel default-carousel-radius">
        <div class="item">
            <div class="row align-items-center">
                <div class="col-lg-5 pb-30">
                    <div class="header-content text-center text-lg-start">
                        <h1>Web developer Hank salute you 2023</h1>
                        <p>This is one of the best and latest collection on to global & international
                            market. Try to buy.</p>
                        <a href="shop-details.html" class="btn main-btn main-btn-radius">Learn More</a>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-6 pb-30">
                    <div class="header-content-image">
                        <img src="{% static 'assets/images/self/self1.png' %}" alt"product">
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="row align-items-center">
                <div class="col-lg-5 pb-30">
                    <div class="header-content text-center text-lg-start">
                        <h1>Popular Website Development Architectures</h1>
                        <p>This is one of the best and latest collection on to global & international
                            market. Try to buy.</p>
                        <a href="shop-details.html" class="btn main-btn main-btn-radius">Learn More</a>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-6 pb-30">
                    <div class="header-content-image">
                        <img src="{% static 'assets/images/self/laptop.png' %}" alt"product">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <section class="featured-product-section pb-70">
        <div class="container">
            <div class="section-title">
                <h2>Web Framework</h2>
            </div>


            <ul class="product-selection-tab">
                <li class="active" data-filter="*">All <br> Item</li>
                <li data-filter=".chair">
                    <i class="flaticon-armchair"></i>
                    Django
                </li>
                <li data-filter=".bed">
                    <i class="flaticon-single-bed"></i>
                    FastAPI
                </li>
                <li data-filter=".sofa">
                    <i class="flaticon-sofa"></i>
                    Flask
                </li>
                <li data-filter=".lamp">
                    <i class="flaticon-table-lamp-1"></i>
                    Flutter
                </li>
                <li data-filter=".tables">
                    <i class="flaticon-table"></i>
                    SpringBoot
                </li>
            </ul>


            <div class="product-tab-gallery row">
                <div class="col-sm-6 col-lg-3 pb-30 product-item element-item chair sofa">
                    <div class="product-card-flat">
                        <div class="product-card-thumb">
                            <a href="single-shop.html">
                                <img src="{% static 'assets/images/products/product-13.png' %}" alt="product">
                            </a>
                            <ul class="product-card-action">
                                <li>
                                    <a href="#">
                                        <i class="flaticon-shopping-cart"></i>
                                        <span>Add Cart</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="quick-view-trigger">
                                        <i class="flaticon-visibility"></i>
                                        <span>Quick View</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-like"></i>
                                        <span>Add Wishlist</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="product-status">-20%</div>
                        </div>
                        <div class="product-card-content">
                            <h3>
                                <a href="single-shop.html">Stylish Chair</a>
                            </h3>
                            <p class="product-id">N23HN456</p>
                            <div class="product-price">$200.0 <del>$270.0</del></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 pb-30 product-item element-item sofa bed">
                    <div class="product-card-flat">
                        <div class="product-card-thumb">
                            <a href="single-shop.html">
                                <img src="{% static 'assets/images/products/product-15.png' %}" alt="product">
                            </a>
                            <ul class="product-card-action">
                                <li>
                                    <a href="#">
                                        <i class="flaticon-shopping-cart"></i>
                                        <span>Add Cart</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="quick-view-trigger">
                                        <i class="flaticon-visibility"></i>
                                        <span>Quick View</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-like"></i>
                                        <span>Add Wishlist</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="product-status">New</div>
                        </div>
                        <div class="product-card-content">
                            <h3>
                                <a href="single-shop.html">Furnished Sofa</a>
                            </h3>
                            <p class="product-id">M43HG435</p>
                            <div class="product-price">$300.0 <del>$350.0</del></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 pb-30 product-item element-item sofa bed">
                    <div class="product-card-flat">
                        <div class="product-card-thumb">
                            <a href="single-shop.html">
                                <img src="{% static 'assets/images/products/product-14.png' %}" alt="product">
                            </a>
                            <ul class="product-card-action">
                                <li>
                                    <a href="#">
                                        <i class="flaticon-shopping-cart"></i>
                                        <span>Add Cart</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="quick-view-trigger">
                                        <i class="flaticon-visibility"></i>
                                        <span>Quick View</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-like"></i>
                                        <span>Add Wishlist</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="product-status">-20%</div>
                        </div>
                        <div class="product-card-content">
                            <h3>
                                <a href="single-shop.html">Comfortable Bed</a>
                            </h3>
                            <p class="product-id">R23HY45</p>
                            <div class="product-price">$1100.0 <del>$1200.0</del></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 pb-30 product-item element-item chair bed">
                    <div class="product-card-flat">
                        <div class="product-card-thumb">
                            <a href="single-shop.html">
                                <img src="{% static 'assets/images/products/product-11.png' %}" alt="product">
                            </a>
                            <ul class="product-card-action">
                                <li>
                                    <a href="#">
                                        <i class="flaticon-shopping-cart"></i>
                                        <span>Add Cart</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="quick-view-trigger">
                                        <i class="flaticon-visibility"></i>
                                        <span>Quick View</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-like"></i>
                                        <span>Add Wishlist</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="product-status">-33%</div>
                        </div>
                        <div class="product-card-content">
                            <h3>
                                <a href="single-shop.html">Affordable Chair</a>
                            </h3>
                            <p class="product-id">TN232EN</p>
                            <div class="product-price">$220.0 <del>$250.0</del></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 pb-30 product-item element-item chair bed">
                    <div class="product-card-flat">
                        <div class="product-card-thumb">
                            <a href="single-shop.html">
                                <img src="{% static 'assets/images/products/product-9.png' %}" alt="product">
                            </a>
                            <ul class="product-card-action">
                                <li>
                                    <a href="#">
                                        <i class="flaticon-shopping-cart"></i>
                                        <span>Add Cart</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="quick-view-trigger">
                                        <i class="flaticon-visibility"></i>
                                        <span>Quick View</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-like"></i>
                                        <span>Add Wishlist</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="product-status">New</div>
                        </div>
                        <div class="product-card-content">
                            <h3>
                                <a href="single-shop.html">Gaming Chair</a>
                            </h3>
                            <p class="product-id">M43HG435</p>
                            <div class="product-price">$300.0 <del>$330.0</del></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 pb-30 product-item element-item chair lamp">
                    <div class="product-card-flat">
                        <div class="product-card-thumb">
                            <a href="single-shop.html">
                                <img src="{% static 'assets/images/products/product-17.png' %}" alt="product">
                            </a>
                            <ul class="product-card-action">
                                <li>
                                    <a href="#">
                                        <i class="flaticon-shopping-cart"></i>
                                        <span>Add Cart</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="quick-view-trigger">
                                        <i class="flaticon-visibility"></i>
                                        <span>Quick View</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-like"></i>
                                        <span>Add Wishlist</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="product-status">New</div>
                        </div>
                        <div class="product-card-content">
                            <h3>
                                <a href="single-shop.html">Hanging Chair</a>
                            </h3>
                            <p class="product-id">N23GH345</p>
                            <div class="product-price">$250.0 <del>$350.0</del></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 pb-30 product-item element-item tables">
                    <div class="product-card-flat">
                        <div class="product-card-thumb">
                            <a href="single-shop.html">
                                <img src="{% static 'assets/images/products/product-8.png' %}" alt="product">
                            </a>
                            <ul class="product-card-action">
                                <li>
                                    <a href="#">
                                        <i class="flaticon-shopping-cart"></i>
                                        <span>Add Cart</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="quick-view-trigger">
                                        <i class="flaticon-visibility"></i>
                                        <span>Quick View</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-like"></i>
                                        <span>Add Wishlist</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="product-status">New</div>
                        </div>
                        <div class="product-card-content">
                            <h3>
                                <a href="single-shop.html">3 Leg Chair</a>
                            </h3>
                            <p class="product-id">TN232EN</p>
                            <div class="product-price">$110.0 <del>$120.0</del></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 pb-30 product-item element-item tables">
                    <div class="product-card-flat">
                        <div class="product-card-thumb">
                            <a href="single-shop.html">
                                <img src="{% static 'assets/images/products/product-18.png' %}" alt="product">
                            </a>
                            <ul class="product-card-action">
                                <li>
                                    <a href="#">
                                        <i class="flaticon-shopping-cart"></i>
                                        <span>Add Cart</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="quick-view-trigger">
                                        <i class="flaticon-visibility"></i>
                                        <span>Quick View</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-like"></i>
                                        <span>Add Wishlist</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="product-status">-23%</div>
                        </div>
                        <div class="product-card-content">
                            <h3>
                                <a href="single-shop.html">Dining Table</a>
                            </h3>
                            <p class="product-id">N23GH345</p>
                            <div class="product-price">$200.0 <del>$230.0</del></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 pb-30 product-item element-item lamp">
                    <div class="product-card-flat">
                        <div class="product-card-thumb">
                            <a href="single-shop.html">
                                <img src="{% static 'assets/images/products/product-1.png' %}" alt="product">
                            </a>
                            <ul class="product-card-action">
                                <li>
                                    <a href="#">
                                        <i class="flaticon-shopping-cart"></i>
                                        <span>Add Cart</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="quick-view-trigger">
                                        <i class="flaticon-visibility"></i>
                                        <span>Quick View</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-like"></i>
                                        <span>Add Wishlist</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="product-status">New</div>
                        </div>
                        <div class="product-card-content">
                            <h3>
                                <a href="single-shop.html">Bedroom Lamp</a>
                            </h3>
                            <p class="product-id">U34HG342</p>
                            <div class="product-price">$250.0 <del>$360.0</del></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 pb-30 product-item element-item lamp">
                    <div class="product-card-flat">
                        <div class="product-card-thumb">
                            <a href="single-shop.html">
                                <img src="{% static 'assets/images/products/product-16.png' %}" alt="product">
                            </a>
                            <ul class="product-card-action">
                                <li>
                                    <a href="#">
                                        <i class="flaticon-shopping-cart"></i>
                                        <span>Add Cart</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="quick-view-trigger">
                                        <i class="flaticon-visibility"></i>
                                        <span>Quick View</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-like"></i>
                                        <span>Add Wishlist</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="product-status">-10%</div>
                        </div>
                        <div class="product-card-content">
                            <h3>
                                <a href="single-shop.html">Drawing Room Candle</a>
                            </h3>
                            <p class="product-id">N23GH345</p>
                            <div class="product-price">$220.0 <del>$270.0</del></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 pb-30 product-item element-item tables sofa">
                    <div class="product-card-flat">
                        <div class="product-card-thumb">
                            <a href="single-shop.html">
                                <img src="{% static 'assets/images/products/product-3.png' %}" alt="product">
                            </a>
                            <ul class="product-card-action">
                                <li>
                                    <a href="#">
                                        <i class="flaticon-shopping-cart"></i>
                                        <span>Add Cart</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="quick-view-trigger">
                                        <i class="flaticon-visibility"></i>
                                        <span>Quick View</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-like"></i>
                                        <span>Add Wishlist</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="product-status">New</div>
                        </div>
                        <div class="product-card-content">
                            <h3>
                                <a href="single-shop.html">Relaxation Sofa</a>
                            </h3>
                            <p class="product-id">MT232EN</p>
                            <div class="product-price">$150.0 <del>$170.0</del></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 pb-30 product-item element-item tables lamp">
                    <div class="product-card-flat">
                        <div class="product-card-thumb">
                            <a href="single-shop.html">
                                <img src="{% static 'assets/images/products/product-6.png' %}" alt="product">
                            </a>
                            <ul class="product-card-action">
                                <li>
                                    <a href="#">
                                        <i class="flaticon-shopping-cart"></i>
                                        <span>Add Cart</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="quick-view-trigger">
                                        <i class="flaticon-visibility"></i>
                                        <span>Quick View</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-like"></i>
                                        <span>Add Wishlist</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="product-status">-23%</div>
                        </div>
                        <div class="product-card-content">
                            <h3>
                                <a href="single-shop.html">Mini High Table</a>
                            </h3>
                            <p class="product-id">U83HG435</p>
                            <div class="product-price">$120.0 <del>$150.0</del></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}