{% load static %}
{% csrf_token %}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="description" content="Outo">
    <meta name="keywords" content="HTML,CSS,JavaScript">
    <meta name="author" content="EnvyTheme">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <link rel="icon" href="{% static 'assets/images/self/favicon.ico' %}" type="image/x-icon" sizes="16x16">

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" type="text/css" media="all" />

    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}" type="text/css" media="all" />

    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}" type="text/css" media="all" />

    <link rel="stylesheet" href="{% static 'assets/css/meanmenu.min.css' %}" type="text/css" media="all" />

    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.min.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}" type="text/css" media="all" />

    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}" type="text/css" media="all" />

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}" type="text/css" media="all" />
</head>

<body>
    <!--
    <div class="preloader">
        <div class="preloader-wrapper">
            <div class="preloader-content">
                <div class="blob-1"></div>
                <div class="blob-2"></div>
            </div>
        </div>
    </div>
    -->

    <div class="nav-main">
        <div class="topbar">
            <div class="container">
                <div class="topbar-inner">
                    <div class="row align-items-center justify-content-center justify-content-lg-between">
                        <div class="topbar-item">
                            <div class="topbar-brand">
                                <a href="index.html">
                                    <img src="{% static 'assets/images/self/logohead.png' %}" alt="logohead">
                                    <img src="{% static 'assets/images/self/logo.png' %}" alt="logo">
                                </a>
                            </div>
                        </div>

                        <div class="topbar-item topbar-item-rightside">
                            <div class="topbar-action">
                                <div class="topbar-action-item">
                                    <a href="/react/testlisdatatable">
                                        <i class="flaticon-search"></i>
                                        <span>Search</span>
                                    </a>
                                </div>

                                <div class="topbar-action-item">
                                    <a href="/react/signin">
                                        <i class="flaticon-user"></i>
                                        <span>Account</span>
                                    </a>
                                </div>

                                <div class="topbar-action-item">
                                    <a href="/react/userapply">
                                        <i class="flaticon-message"></i>
                                        <span>Post Info</span>
                                    </a>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="navbar-area">
            <div class="container">
                <div class="mobile-nav">

                    <a href="index.html" class="mobile-brand d-lg-none">
                        <img src="{% static 'assets/images/self/logohead.png' %}" alt="logohead">
                        <img src="{% static 'assets/images/self/logo.png' %}" alt="logo" class="logo">
                    </a>

                </div>
            </div>


            <div class="main-nav">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light">

                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav mx-auto">
                                <li class="nav-item">
                                    <a href="/" class="nav-link">Home</a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle">Services</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="/react/testlisdatatable" class="nav-link">Search</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/react/userapply" class="nav-link">Post Info</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/react/signin" class="nav-link">Account</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle">Technology</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link dropdown-toggle">Design</a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="/pd" class="nav-link">Planning and Design</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/qwb" class="nav-link">Quick Website Building</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/cbs" class="nav-link">Custom built site</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/pi" class="nav-link">Performance
                                                        improvement</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/fi" class="nav-link">Function implementation </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/fe" class="nav-link">Function extension</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/sh" class="nav-link">Security hardening</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link dropdown-toggle">Web Framework</a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="/wfd" class="nav-link">Django</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/wffastapi" class="nav-link">FastAPI</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/wfflask" class="nav-link">Flask</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/wfflutter" class="nav-link">Flutter</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/wfspringboot" class="nav-link">SpringBoot</a>
                                                </li>

                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link dropdown-toggle">Database</a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="/dbmysql" class="nav-link">MySql</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/dbsqlsever" class="nav-link">SQL Server</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/dboracle" class="nav-link">Oracle</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/dbpostgresql" class="nav-link">PostgreSQL</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/dbmongodb" class="nav-link">MongoDB</a>
                                                </li>

                                            </ul>
                                        </li>

                                        <li class="nav-item">
                                            <a href="#" class="nav-link dropdown-toggle">Frontend Technologies</a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="/fdscss" class="nav-link">CSS/SCSS</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/fdhtml" class="nav-link">HTML</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/fdbootstrap" class="nav-link">Bootstrap</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/fdjavascript" class="nav-link">JavaScript</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/fdtypescript" class="nav-link">TypeScript</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/fdreact" class="nav-link">React</a>
                                                </li>

                                            </ul>
                                        </li>

                                        <li class="nav-item">
                                            <a href="#" class="nav-link dropdown-toggle">Backend Technologies</a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="/bdjava" class="nav-link">Java</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/bdc" class="nav-link">C#</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/bdpython" class="nav-link">Python</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/bdphp" class="nav-link">PHP</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/bdnotejs" class="nav-link">Node.js</a>
                                                </li>

                                            </ul>
                                        </li>

                                        <li class="nav-item">
                                            <a href="/tdocker" class="nav-link">Docker</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/tnginx" class="nav-link">Nginx</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/tgit" class="nav-link">Git/GitHub</a>
                                        </li>

                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle">Support</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="/faqs" class="nav-link">FAQ's</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/react/contactus" class="nav-link">Contact us</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="/react/aboutus" class="nav-link">About Us</a>
                                </li>

                            </ul>

                        </div>
                        <div class="topbar-item topbar-item-rightside">

                            <div class="topbar-action">
                                <div class="agile_header_right">
                                    <ul>
                                        <li><i class="fa fa-phone" aria-hidden="true"></i><img
                                                src="{% static 'assets/images/self/cell.png' %}" alt="" />+1 (587) 936
                                            1806</li>

                                    </ul>
                                </div>
                                <div class="agile_header_right">
                                    <ul>
                                        <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a
                                                href="mailto:hankchenv@gmail.com"><img
                                                    src="{% static 'assets/images/self/mail.png' %}"
                                                    alt="" />zhiyouyuec@gmail.com</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                    </nav>

                </div>
            </div>


        </div>
    </div>

    <header class="header header-bg-gradient overflow-hidden">
        <div class="container position-relative">
            {% block body %}
            {% endblock %}
        </div>
    </header>



    <div class="partner-section pb-100">
        <div class="container">
            <div class="partner-carousel owl-carousel">
                <div class="item">
                    <a href="contact.html">
                        <img src="{% static 'assets/images/partner/partner-1.png' %}" alt="partner">
                    </a>
                </div>
                <div class="item">
                    <a href="contact.html">
                        <img src="{% static 'assets/images/partner/partner-2.png' %}" alt="partner">
                    </a>
                </div>
                <div class="item">
                    <a href="contact.html">
                        <img src="{% static 'assets/images/partner/partner-3.png' %}" alt="partner">
                    </a>
                </div>
                <div class="item">
                    <a href="contact.html">
                        <img src="{% static 'assets/images/partner/partner-4.png' %}" alt="partner">
                    </a>
                </div>
                <div class="item">
                    <a href="contact.html">
                        <img src="{% static 'assets/images/partner/partner-5.png' %}" alt="partner">
                    </a>
                </div>
            </div>
        </div>
    </div>


    <section class="reach-us-section pb-70">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 pb-30">
                    <div class="reach-us-card reach-us-card-1">
                        <h3>Connect Us</h3>
                        <p>We always ready to help</p>
                        <a href="/react/contactus" class="redirect-link">Contact Us</a>
                    </div>
                </div>
                <div class="col-sm-6 pb-30">
                    <div class="reach-us-card reach-us-card-2">
                        <h3>Follow Us</h3>
                        <p>You can easily connect to our social <br> Instagram pages.</p>
                        <a href="#" class="redirect-link">Instagram</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer class="footer bg-yellow bg-shape">
        <div class="footer-upper pt-100 pb-70 position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="footer-content-item">
                            <div class="footer-logo">
                                <a href="index.html">
                                    <img src="{% static 'assets/images/self/logohead.png' %}" alt="logohead">
                                    <img src="{% static 'assets/images/self/logo.png' %}" alt="logo"></a>
                            </div>
                            <div class="footer-details">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.</p>
                                <ul class="footer-payment-list">
                                    <li>
                                        <a href="#">
                                            <img src="{% static 'assets/images/american-express-sign.png' %}"
                                                alt="payment">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="{% static 'assets/images/cirrus.png' %}" alt="payment">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="{% static 'assets/images/mastercard.png' %}" alt="payment">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="footer-content-list footer-content-item desk-pad-left-70">
                            <div class="footer-content-title">
                                <h3>About Us</h3>
                            </div>
                            <ul class="footer-details footer-list">
                                <li>
                                    <a href="contact.html">Contact Us</a>
                                </li>
                                <li>
                                    <a href="terms-conditions.html">Terms & Conditions</a>
                                </li>
                                <li>
                                    <a href="privacy-policy.html">Privacy & Policy</a>
                                </li>
                                <li>
                                    <a href="blogs-grid.html">Latest Blogs</a>
                                </li>
                                <li>
                                    <a href="shops-grid.html">Our Latest Shops</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="footer-content-list footer-content-item desk-pad-left-70">
                            <div class="footer-content-title">
                                <h3>Quick Links</h3>
                            </div>
                            <ul class="footer-details footer-list">
                                <li>
                                    <a href="faqs.html">FAQ</a>
                                </li>
                                <li>
                                    <a href="order-tracking.html">Order Tracking</a>
                                </li>
                                <li>
                                    <a href="login.html">Authentication</a>
                                </li>
                                <li>
                                    <a href="cart.html">My Cart</a>
                                </li>
                                <li>
                                    <a href="wishlist.html">My Wishlist</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="footer-content-list footer-content-item desk-pad-left-70">
                            <div class="footer-content-title">
                                <h3>Useful Links</h3>
                            </div>
                            <ul class="footer-details footer-list">
                                <li>
                                    <a href="shops-grid.html">New Arrivals</a>
                                </li>
                                <li>
                                    <a href="about-us.html">About Us</a>
                                </li>
                                <li>
                                    <a href="404.html">404 Error Page</a>
                                </li>
                                <li>
                                    <a href="coming-soon-page.html">Coming Soon Page</a>
                                </li>
                                <li>
                                    <a href="/react/testlisdatatable">Search Page</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="footer-lower">
                <div class="footer-lower-item">
                    <div class="footer-copyright-text">
                        <p>Copyright &copy; 2021.Company name All rights reserved.<a target="_blank"
                                href="http://www.cssmoban.com/"></a></p>
                    </div>
                </div>
                <div class="footer-lower-item">
                    <ul class="social-list">
                        <li>
                            <a href="#" target="_blank"><i class="flaticon-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class="flaticon-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class="flaticon-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class="flaticon-pinterest"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <div class="quick-view-wrapper">
        <div class="quick-view-modal">
            <div class="close-btn quick-view-close">
                <i class="flaticon-close"></i>
            </div>
            <div class="quick-view-body">
                <div class="row align-items-center">
                    <div class="col-12 col-md-5 col-lg-6">
                        <div class="quick-view-product-carousel owl-carousel owl-theme default-carousel">
                            <div class="item">
                                <img src="{% static 'assets/images/products/p11.png' %}" alt="product">
                            </div>
                            <div class="item">
                                <img src="{% static 'assets/images/products/product-14.png' %}" alt="product">
                            </div>
                            <div class="item">
                                <img src="{% static 'assets/images/products/product-15.png' %}" alt="product">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-7 col-lg-6">
                        <div class="quick-view-product-content">
                            <div class="product-status">-20%</div>
                            <h3>Stylish Chair</h3>
                            <p>Lorem ipsum dolor sit amet consetetur sadipscing elitr sed diam nonumy eirmod tempor
                                invidunt labore et dolore magna aliquyam erat sed diam voluptua.</p>
                            <div class="product-price">$200.0 <del>$270.0</del></div>
                            <div class="share-post">
                                <h4>Share:</h4>
                                <ul class="social-list">
                                    <li>
                                        <a href="#" target="_blank"><i class="flaticon-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="flaticon-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="flaticon-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="flaticon-pinterest"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product-choice">
                                <div class="product-choice-item">
                                    <label>Select Colors</label>
                                    <select class="form-control product-color">
                                        <option value="1">Available colors</option>
                                        <option value="2">Blue</option>
                                        <option value="3">Green</option>
                                    </select>
                                </div>
                                <div class="product-choice-item">
                                    <label>Select Amount</label>
                                    <select class="form-control product-color">
                                        <option value="1">01</option>
                                        <option value="2">02</option>
                                        <option value="3">03</option>
                                    </select>
                                </div>
                            </div>
                            <div class="product-action">
                                <div class="product-action-item">
                                    <a href="#" class="btn main-btn main-btn-radius">Add To Cart</a>
                                </div>
                                <div class="product-action-item">
                                    <a href="#" class="btn main-btn main-btn-radius main-btn-bgless">
                                        <i class="flaticon-like"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="{% static 'assets/js/jquery-3.5.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'assets/js/jquery-ui.js' %}"></script>

    <script type="text/javascript" src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'assets/js/owl.carousel.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'assets/js/form-validator.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'assets/js/contact-form-script.js' %}"></script>

    <script type="text/javascript" src="{% static 'assets/js/jquery.meanmenu.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'assets/js/script.js' %}"></script>

</body>

</html>