<p>{% extends "layout.html" %}
  
  {% load static %}
  {% csrf_token %}
  
  {% block title %}
  Hankwebsite
  {% endblock %}
  
  {% block body %}
 </p>
<div>
<p>&nbsp; </p>
<table width="1066" border="0" align="left">
  <tbody>
    <tr>
      <th width="901" align="left" scope="col"><h1>Git/GitHub</h1></th>
      <th width="155" scope="col" align="right"><a href="https://github.com/git" target="_blank">Learn more</a></th>
    </tr>
    <tr>
      <th scope="row">&nbsp;</th>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
</div>
<p>&nbsp; </p>
<p>&nbsp; </p>

<div>
  <div>
    <div data-message-author-role="assistant" data-message-id="d00b4a70-09b6-4cb0-b207-7213b893aa48">
      <div>
        <div>
          <div data-message-author-role="assistant" data-message-id="bbd8ff7d-6f44-4b11-aed4-7a0d19ca3f87">
            <div>
              <div>
                <div data-message-author-role="assistant" data-message-id="c143609a-cbb7-4973-816b-d9560da571a8">
                  <div>
                    <div>
                      <div data-message-author-role="assistant" data-message-id="360ee67f-9ed7-4c78-bb4d-bd1c9a46c937">
                        <div>
                          <div>
                            <div data-message-author-role="assistant" data-message-id="4c11b6e3-36be-4ffd-b555-06b4064267e6">
                              <div>
                                <div>
                                  <div data-message-author-role="assistant" data-message-id="c7b02dc3-403e-49a2-8872-da8655cca0b6">
                                    <div>
                                      <div>
                                        <div data-message-author-role="assistant" data-message-id="cea19348-1c96-49ee-8361-53233727fb9b">
                                          <div>
                                            <div>
                                              <div data-message-author-role="assistant" data-message-id="ace61631-606a-4a5b-944d-e683deb54cd1">
                                                <div>
                                                  <div>
                                                    <div data-message-author-role="assistant" data-message-id="9d625a7f-7213-41f2-b321-303040d4ee77">
                                                      <div>
                                                        <div>
                                                          <div data-message-author-role="assistant" data-message-id="5fd84036-c055-4dcf-aecd-b7faef0b26d6">
                                                            <div>
                                                              <div>
                                                                <div data-message-author-role="assistant" data-message-id="15f44956-8713-4eab-b932-b18eeee518e0">
                                                                  <div>
                                                                    <p>&nbsp;</p>
                                                                    <div>
                                                                      <div data-message-author-role="assistant" data-message-id="be995da7-cd23-48bc-a84c-8c628ec56317">
                                                                        <div>
                                                                       
                                                                          <div>
                                                                            <div data-message-author-role="assistant" data-message-id="659b8675-d73e-4f7d-b1b1-513b899dac44">
                                                                              <div>
                                                                                <div>
                                                                                  <div>
                                                                                    <div data-message-author-role="assistant" data-message-id="fe5fed5e-a9da-4d23-929a-0d9675029689">
                                                                                      <div>
                                                                                        <div>
                                                                                          <div data-message-author-role="assistant" data-message-id="87f4d3bc-f732-4d4a-86d1-43f2612c9b8e">
                                                                                            <div>
                                                                                              <div>
                                                                                                <div data-message-author-role="assistant" data-message-id="9a267d46-adc3-4708-b8f6-ecc00f1f2723">
                                                                                                  <div>
                                                                                                    <div>
                                                                                                      <div data-message-author-role="assistant" data-message-id="ca830c54-c2d6-4808-a0cf-edffe7b70dc7">
                                                                                                        <div>
                                                                                                          <div>
                                                                                                            <div data-message-author-role="assistant" data-message-id="6bf7265e-a3e0-4d6e-803f-81dfacb2eb25">
                                                                                                              <div>
                                                                                                                <div>
                                                                                                                  <div data-message-author-role="assistant" data-message-id="d813445e-adf4-4f44-9452-ffd7310c0620">
                                                                                                                    <div>
                                                                                                                      <p>Git and GitHub are two related tools that play a crucial role in modern software development, particularly in version control and collaborative coding. Here's an overview of both:</p>
                                                                                                                      <p><strong>Git:</strong></p>
                                                                                                                      <ol>
                                                                                                                        <li>
                                                                                                                          <p><strong>Version Control System</strong>: Git is a distributed version control system (DVCS) that allows developers to track changes in their code over time. It is designed to handle projects of all sizes and provides mechanisms for tracking changes, collaborating, and maintaining code history.</p>
                                                                                                                        </li>
                                                                                                                        <li>
                                                                                                                          <p><strong>Local and Distributed</strong>: Git is a distributed system, which means that every developer has a full copy of the repository on their local machine. This allows them to work offline and make local commits before pushing changes to a shared repository.</p>
                                                                                                                        </li>
                                                                                                                        <li>
                                                                                                                          <p><strong>Branching and Merging</strong>: Git makes it easy to create branches for feature development or bug fixes. You can work on different branches simultaneously and merge changes when they are ready. This helps in parallel development.</p>
                                                                                                                        </li>
                                                                                                                        <li>
                                                                                                                          <p><strong>Commit History</strong>: Git maintains a complete history of all changes made to the codebase, along with detailed commit messages that describe the changes made in each commit. This makes it easier to track the evolution of the project and understand why specific changes were made.</p>
                                                                                                                        </li>
                                                                                                                        <li>
                                                                                                                          <p><strong>Collaboration</strong>: Git allows multiple developers to collaborate on the same project. They can push and pull changes from a shared repository, making it easy to work on a single codebase as a team.</p>
                                                                                                                        </li>
                                                                                                                        <li>
                                                                                                                          <p><strong>Staging Area</strong>: Git includes a staging area (also known as the index), which allows you to select specific changes to include in a commit. This provides fine-grained control over what gets committed.</p>
                                                                                                                        </li>
                                                                                                                        <li>
                                                                                                                          <p><strong>Open Source</strong>: Git is open-source, which means it is free to use and has a large and active community of developers and users. It was created by Linus Torvalds, the founder of Linux.</p>
                                                                                                                        </li>
                                                                                                                      </ol>
                                                                                                                      <p><strong>GitHub:</strong></p>
                                                                                                                      <ol>
                                                                                                                        <li>
                                                                                                                          <p><strong>Web-Based Platform</strong>: GitHub is a web-based platform that provides hosting for Git repositories. It offers features and tools for managing code, issues, and collaboration. It's commonly used for open-source and private software projects.</p>
                                                                                                                        </li>
                                                                                                                        <li>
                                                                                                                          <p><strong>Code Hosting</strong>: GitHub hosts millions of Git repositories, making it a popular choice for hosting and sharing code with others. You can create public or private repositories as needed.</p>
                                                                                                                        </li>
                                                                                                                        <li>
                                                                                                                          <p><strong>Collaboration</strong>: GitHub facilitates collaboration among developers and teams. It provides features for tracking issues, managing projects, and reviewing code through pull requests.</p>
                                                                                                                        </li>
                                                                                                                        <li>
                                                                                                                          <p><strong>Pull Requests</strong>: Developers can propose changes to a repository by creating a pull request. This allows others to review the changes and discuss them before merging.</p>
                                                                                                                        </li>
                                                                                                                        <li>
                                                                                                                          <p><strong>Issue Tracking</strong>: GitHub offers a built-in issue tracking system that allows developers to report and track bugs, feature requests, and other tasks related to a project.</p>
                                                                                                                        </li>
                                                                                                                        <li>
                                                                                                                          <p><strong>Continuous Integration</strong>: GitHub integrates with various continuous integration (CI) systems, allowing automated testing and deployment of code changes.</p>
                                                                                                                        </li>
                                                                                                                        <li>
                                                                                                                          <p><strong>Wikis and Documentation</strong>: GitHub allows you to create wikis and documentation for your projects, making it easier to provide information about how to use and contribute to your code.</p>
                                                                                                                        </li>
                                                                                                                        <li>
                                                                                                                          <p><strong>Community</strong>: GitHub has a large and active community of developers, which can help you find open-source projects, collaborate on code, and share your work with others.</p>
                                                                                                                        </li>
                                                                                                                      </ol>
                                                                                                                      <p>Together, Git and GitHub are powerful tools for version control, collaboration, and code management, making them essential for modern software development practices. Developers use Git to manage their code locally and then use platforms like GitHub to share and collaborate with others in a central, web-based environment.</p>
                                                                                                                    </div>
                                                                                                                  </div>
                                                                                                                </div>
                                                                                                                <p>&nbsp;</p>
                                                                                                              </div>
                                                                                                            </div>
                                                                                                          </div>
                                                                                                          <p>&nbsp;</p>
                                                                                                        </div>
                                                                                                      </div>
                                                                                                    </div>
                                                                                                    <p>&nbsp;</p>
                                                                                                  </div>
                                                                                                </div>
                                                                                              </div>
                                                                                              <p>&nbsp;</p>
                                                                                            </div>
                                                                                          </div>
                                                                                        </div>
                                                                                        <p>&nbsp;</p>
                                                                                      </div>
                                                                                    </div>
                                                                                  </div>
                                                                                </div>
                                                                                <p>&nbsp;</p>
                                                                              </div>
                                                                            </div>
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                    </div>
                                                                    <p>&nbsp;</p>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                              <p>&nbsp;</p>
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <p>&nbsp;</p>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <p>&nbsp;</p>
                                                </div>
                                              </div>
                                            </div>
                                            <p>&nbsp;</p>
                                          </div>
                                        </div>
                                      </div>
                                      <p>&nbsp;</p>
                                    </div>
                                  </div>
                                </div>
                                <p>&nbsp;</p>
                              </div>
                            </div>
                          </div>
                          <p>&nbsp;</p>
                        </div>
                      </div>
                    </div>
                    <p>&nbsp;</p>
                  </div>
                </div>
              </div>
              <p>&nbsp;</p>
            </div>
          </div>
        </div>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
  <p>&nbsp;</p>
</div>

<p>&nbsp;</p>
<p>{% endblock %}</p>
