<div>
    <div>
        <div>
            <p>Product Description</p>
        </div>
    </div>
    <div>
        <div>
            <p>Features:</p>
        </div>
    </div>
    <div>
        <div>
            <p>• Versatile Mini Fascia Gun :This multi-mode mini fascia gun is designed for versatility, offering
                various modes to cater to different muscle relaxation and massage needs.</p>
        </div>
    </div>
    <div>
        <div>
            <p>• Composite Material Construction :Constructed from high-quality composite material, this massage
                instrument ensures durability and longevity, providing long-lasting service.</p>
        </div>
    </div>
    <div>
        <div>
            <p>• Chinese Origin :Origining from Mainland China, this product benefits from superior craftsmanship and
                high-quality control, ensuring a reliable and high-performance tool.</p>
        </div>
    </div>
    <div>
        <div>
            <p>• Non-Branded Item :This non-branded item offers a cost-effective solution for your massage and
                relaxation needs, without compromising on quality or effectiveness.</p>
        </div>
    </div>
    <div>
        <div>
            <p>Charging is more flexible than ever before.It can be charged by a phone charger or power pack through a
                USB dongle.</p>
        </div>
    </div>
    <div>
        <div>
            <p>• CE certification :This product is certified by CE.</p>
        </div>
    </div>
    <div>
        <div>
            <p>Specification:</p>
        </div>
    </div>
    <div>
        <p>Size: 22 * 19 * 6cm</p>
    </div>
    <div>
        <div>
            <p>Rated voltage: 7.4V</p>
        </div>
    </div>
    <div>
        <div>
            <p>Type-C charging: 5V-2A</p>
        </div>
    </div>
    <div>
        <div>
            <p>Battery capacity: 1200 mAh</p>
        </div>
    </div>
    <div>
        <div>
            <p>File: button 6 gear</p>
        </div>
    </div>
    <div>
        <div>
            <p>Weight: 420g</p>
        </div>
    </div>
    <div>
        <div>
            <p>Box: 59x44.5x27cm</p>
        </div>
    </div>
    <div>
        <div>
            <p>Box: 24</p>
        </div>
    </div>
    <div>
        <div>
            <p>Package included:</p>
        </div>
    </div>
    <div>
        <div>
            <p>A neck massage instrument，Manual, data cable</p>
        </div>
    </div>
    <div>
        <div>
            <p>NOTED:</p>
        </div>
    </div>
    <div>
        <div>
            <p>Due to the different monitors and light effects, the actual color of the item might be slightly different
                from the color showed on the pictures. THANKS!</p>
        </div>
    </div>
    <div>
        <div>
            <p>Please allow 1-2cm measuring deviation due to manual measurement.</p>
        </div>
    </div>
    <div>
        <img src="https://ae01.alicdn.com/kf/S54b627469f62483cafc4052ffa972eeaX.jpg"><img
            src="https://ae01.alicdn.com/kf/S4a28a6c348ff4820862f6f8f31a82096I.jpg"><img
            src="https://ae01.alicdn.com/kf/S94947f6c14cb45cd99855d96e797ff32X.jpg"><img
            src="https://ae01.alicdn.com/kf/Scf89075969ac41daa08fd489e343a7c9W.jpg"><img
            src="https://ae01.alicdn.com/kf/S8e683f351e284054a606fe4de1fb40d9V.jpg"><img
            src="https://ae01.alicdn.com/kf/S11d0ff3bef0f43b6aeb4e3d702672afej.jpg"><img
            src="https://ae01.alicdn.com/kf/S9e8d68fdc75e45a4b26b3be45046828cr.jpg"><img
            src="https://ae01.alicdn.com/kf/S9a6194d9cf7a4d48b2c3ade2ecf06c14V.jpg"><img
            src="https://ae01.alicdn.com/kf/Sa59b378b09ee475e9049325f25e0bbfcX.jpg">
    </div>
    <div>
        <div><br></div>
    </div>
</div>