<p>{% extends "layout.html" %}
  
  {% load static %}
  {% csrf_token %}
  
  {% block title %}
  Hankwebsite
  {% endblock %}
  
  {% block body %}
 </p>
<p>&nbsp; </p>
<div>Test02</div>

<p>Debian<br>
  Ubuntu<br>
  使用root用户或具有sudo权限的用户执行以下命令，以确保您具有安装软件的权限：<br>
  sudo su<br>
  sudo -i<br>
  ********************************************************************<br>
  1.Debian安装pip，Python and django<br>
  ********************************************************************<br>
  sudo apt update<br>
  sudo apt install python3 python3-pip<br>
  python3 --version<br>
pip3 --version</p>
<p>pip3 install -i https://pypi.tuna.tsinghua.edu.cn/simple django==3.2.4<br>
  ********************************************************************<br>
  2.安装Git<br>
  ********************************************************************<br>
  sudo apt update<br>
  sudo apt install git</p>
<p>git clone https://github.com/HankChoose/projectwebsite</p>
<p>#检查当前分支与远程分支的关联<br>
  git branch -vv<br>
  #检查远程仓库的设置和地址。<br>
  git remote -v </p>
<p>hint: Pulling without specifying how to reconcile divergent branches is<br>
  hint: discouraged. You can squelch this message by running one of the following<br>
  hint: commands sometime before your next pull:<br>
  hint:<br>
  hint:   git config pull.rebase false  # merge (the default strategy)<br>
  hint:   git config pull.rebase true   # rebase<br>
  hint:   git config pull.ff only       # fast-forward only<br>
  hint:<br>
  hint: You can replace &quot;git config&quot; with &quot;git config --global&quot; to set a default<br>
  hint: preference for all repositories. You can also pass --rebase, --no-rebase,<br>
  hint: or --ff-only on the command line to override the configured default per<br>
  hint: invocation.</p>
<p>&nbsp;</p>
<p>{% endblock %}</p>
