{
  "name": "my-frontend-app",
  "version": "1.0.0",
  "description": "My Frontend Application",
  "dependencies": {
    "react-router-dom": "^5.3.0",
    "axios": "^0.24.0",
    "react-bootstrap": "^2.0.0",
    "js-cookie": "^3.0.1",
    "ws": "^8.1.0",
    "websocket": "^1.0.31",
  }
}
