.custom-container {
  width: 50%; /* 自定义宽度 */
  margin: 0 auto; /* 水平居中 */
  align-items: center; /* 垂直居中 */
}

.content-row {
  display: flex;
  justify-content: center; /* 水平居中对齐 */
  align-items: center; /* 垂直居中对齐 */
  /* 其他样式 */
}

.page-container {
  margin-top: 100px; /* 调整顶部边距 */
  margin-bottom: 20px; /* 调整底部边距 */
}





