.root {
}

.FormRow {
    border: 0px solid black;
    display: flex;
    height: 35px;
    width: auto;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}


.Input {
    padding: 0.6em 0.8em;
    margin: 0em;
    width: auto;
    min-width: auto;
    border-radius: 0.2em;

    &:focus {
        border: 1px solid #2a85ff;
        outline: unset;
        box-shadow: 0 0 6px #2a85ff;
    }

    border: 1px solid black;
    text-align: start;
    justify-content: center;
    align-content: space-around;
    overflow: visible;
}

.fixed-width-span {
    width: 150px; /* 设置固定宽度，根据需求调整 */
    display: inline-block; /* 使 span 元素能够接受 width 属性 */
    overflow: hidden; /* 隐藏溢出的内容，可根据需要调整 */
    white-space: nowrap; /* 防止文字换行，可根据需要调整 */
  }